@import url('https://fonts.googleapis.com/css?family=Orbitron');
#reloj div {
  font-family: Orbitron;
  background: black;
  color: red;
  text-align: center;
  font-size: 50px;
  width: 100px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#reloj {
  width: 400px;
  margin: auto;
}
